#header{
	height: 90px;
	width: 100%;
	background-color: #FFA500;
}

#header img{
	position: absolute;
	margin: 25px;
}

#header span{
	position: absolute;
	font-family: Trebuchet MS;
	font-size: 20px;
	color: #B26900;
	margin-top: 33px;
	margin-left: 90px;
}

#cartItems{
	padding-top: 90px;
	padding-left:90px;
	padding-right:90px;
	margin: auto;
}

.itemWrapper{
	display: block;
	border-width: 1px;
	border-top: solid;
	border-color: #D6D6D6;
}

.itemWrapper:nth-child(6){
	border-width: 0.5px;
	border-top: solid;
	border-bottom: solid;
	border-color: #D6D6D6;
}

.itemImage{
	width: 90px;
	display:inline-block;
	margin-right: 30px;

}

.itemImage img{
	width: 80px;
	height: 80px;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.itemNameDescrip{
	display:inline-block;
	position: absolute;
	margin-top: 33px;
	line-height: 12px;
	width: 712px;
	font-family: Trebuchet MS;
}

.itemNameDescrip > :first-child{
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.itemNameDescrip:nth-child(2){
	font-size: 12px;
	color: #b3b3b3;
}

.itemPrice {
	display: inline-block;
	float: right;
	width: 100px;
	font-family: Trebuchet MS;
	font-size: 18px;
}

#total{
	display: block;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-weight: bold;
	padding-top: 40px;
	padding-left:90px;
	padding-right:90px;
	padding-bottom: 50px;
	margin: auto;
}

#total #subtotal{
	display: inline-block;
	position: absolute;
	margin-left: 120px;
	width: 700px;
}

#total #calculate{
	display: inline-block;
	float: right;
	/*position: absolute;
	margin-left: 533px;*/
}


